absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
conda==4.6.8
cryptography==2.3
cycler==0.10.0
Cython==0.29.3
daal4py==2019.3
decorator==4.4.0
defusedxml==0.5.0
entrypoints==0.3
funcsigs==1.0.2
gast==0.2.2
grpcio==1.14.1
h5py==2.8.0
idna==2.6
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
llvmlite==0.27.1+0.gf008359.dirty
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.1
mistune==0.8.4
mkl-fft==1.0.11
mkl-random==1.0.2
mkl-service==1.0.0
mpi4py==3.0.0
nbconvert==5.4.1
nbformat==4.4.0
notebook==6.1.5
numba==0.42.1
numexpr==2.6.8
numpy==1.16.1
pandas==0.24.1+0.g1700680.dirty
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
pycosat==0.6.3
pycparser==2.18
pyeditline==2.0.0
Pygments==2.3.1
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyrsistent==0.14.11
PySocks==1.6.7
python-dateutil==2.6.0
pytz==2018.4
PyYAML==4.2b1
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.20.1
ruamel.yaml==0.15.89
scikit-learn==0.20.2
scipy==1.2.0
Send2Trash==1.5.0
six==1.11.0
SMP==0.1.4
TBB==0.1
tensorboard==1.12.2
tensorflow==1.15.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.2
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.4.2
xgboost==0.81
